body{
    background-color: black;
    background-image: url(/home/max/Downloads/sigmund-R-jYl5zpSHk-unsplash.jpg);
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
a{
    text-decoration: none;
    color: lightblue;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0;
    position: fixed;
    width: 100%;
    background-color: black;
    top: 0;
}
.links a{
    justify-content: space-between;
    margin: 70px;
}
.links{
    margin-right: 70px;
}


#home{
    height: 100%;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}
.text-container{
    max-width: 40%;
    text-align: center;
}
#about{
    max-width: 25%;
    text-align: center;
    margin-left: 50px;
    height: 95%;
    width: auto;
    justify-content: center;
    align-items: center;
    
}
#howitworks{
    height: 23%;
    margin-left: 100px;
}
li{
    font-weight: bold;
}
.one-of-four{
    background-color: chocolate;
    height: 700px;
    width: 500px;
}
.four-of-teammates{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 500px;
}
.one-of-four div{
margin: 30px;
}
